* {
  font-family: "Poppins", sans-serif;
}

.nav {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px;
  height: 100px;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 100%;
  z-index: 3;
  background: url("../../img/18pfua2dz5k01.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.nav-logo img {
  width: 159px;
  height: 68px;
}

.nav ul {
  display: flex;
  margin-top: 30px;
}
ul li {
  list-style: none;
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

a:hover {
  color: #fff;
}

.btn-one {
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 4px 28px;
  margin-top: 10px;
}

.btn-two {
  border-radius: 4px;
  background-color: #ffaf00;
  padding: 6px 28px;
}

/* ----- Hamburger Menu ----- */

.menu-toggle {
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  display: none;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  transition: all 0.5s;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -10px;
  top: -6px;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

@media only screen and (max-width: 724px) {
  .nav-title ul {
    position: absolute;
    right: 0;
    flex-direction: column;
    height: 100vh;
    top: 0;
    background: black;
    align-items: center;
    justify-content: space-evenly;
    z-index: -100;
    background: #730ad4;
    width: 30%;
    transform: translateX(100%);
    transition: all 1s;
  }

  .nav-title ul.slide {
    transform: translateX(0);
  }

  .header-right {
    display: none;
  }

  .header-left {
    flex-basis: 100%;
  }
  .menu-toggle {
    display: flex;
  }
}
