* {
  font-family: "Poppins", sans-serif;
}

.nav {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px;
  height: 100px;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 100%;
  z-index: 3;
  background: url("../../img/18pfua2dz5k01.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.nav-logo img {
  width: 180px;
  height: 68px;
}

.nav ul {
  display: flex;
  margin-top: 30px;
}
ul li {
  list-style: none;
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

a:hover {
  color: #fff;
}

.btn-one {
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 4px 28px;
  margin-top: 10px;
}

.btn-two {
  border-radius: 4px;
  background-color: #ffaf00;
  padding: 6px 28px;
}

.modal-content img {
  position: absolute;
  left: 0;
  right: 61.54%;
  top: 0;
  bottom: 87.81%;
}

.btn-close {
  position: absolute;
  left: 90%;
}

@media only screen and (max-width: 576px) {
  .nav-logo img {
    width: 130px;
    height: 48px;
    position: relative;
    left: -60px;
  }

  .nav {
    height: 80px;
  }

  .btn-one {
    padding: 2px 18px;
    font-size: 12px;
  }

  .btn-two {
    padding: 4px 16px;
    font-size: 12px;
  }

  .nav-title {
    transform: translateX(-40px);
  }

  ul li {
    margin-right: 10px;
  }

  .header-image {
    display: none;
  }

  .small-profile {
    transform: translateX(150%);
    position: absolute;
    bottom: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .btn-one {
    padding: 2px 12px;
    font-size: 12px;
  }

  .btn-two {
    padding: 4px 12px;
    font-size: 12px;
  }

  .nav-title {
    transform: translateX(-25%);
  }
  .small-profile {
    transform: translateX(80%);
  }
}
@media only screen and (max-width: 320px) {
  .nav-title {
    transform: translateX(-46%);
  }

  .nav-logo img {
    left: -80px;
  }
  .small-profile {
    transform: translateX(40%);
  }
}
