body {
  position: relative;
}

.hibiscus-img {
  position: absolute;
  left: 93.77%;
  right: -6.95%;
  bottom: 90.19%;
}

.palm-img {
  position: absolute;
  left: -1%;
  top: 24%;
}

.container-group {
  width: 80%;
}

.content-container {
  background-color: #ffffff;
  width: 320px;
  height: auto;
  position: relative;
}

.content-container img {
  width: 100%;
  padding-top: 10px;
}

.container.price-container {
  width: 100%;
}

.container h3 {
  padding-top: 10px;
  font-size: 20px;
}

.price-container p {
  color: #ffaf00;
  font-weight: 600;
}

.price-container small {
  color: #878787;
  font-weight: 600;
}

.apa {
  position: absolute;
  right: 5px;
  top: 30px;
  padding: 5px 15px;
  background-color: #ffffff;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
}

.main {
  padding-top: 300px;
  padding-bottom: 200px;
  background-color: #f1f1f1;
}

.title-container {
  width: 77.8%;
}
