body {
  position: relative;
  background-color: #f1f1f1;
}

.hibiscus-img {
  position: absolute;
  left: 93.77%;
  right: -6.95%;
  bottom: 90.19%;
}

.palm-img {
  position: absolute;
  left: -1%;
  top: 34%;
}

.container-group {
  width: 80%;
}

.content-container {
  background-color: #ffffff;
  width: 320px;
  height: auto;
  position: relative;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.content-container img {
  width: 100%;
  height: 222px;
  padding-top: 10px;
}

.container.price-container {
  width: 100%;
}

.container h3 {
  padding-top: 10px;
  font-size: 20px;
}

.price-container p {
  color: #ffaf00;
  font-weight: 600;
}

.price-container small {
  color: #878787;
  font-weight: 600;
}

.apa {
  position: absolute;
  right: 5px;
  top: 30px;
  padding: 5px 15px;
  background-color: #ffffff;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
}

.main {
  padding-bottom: 200px;
  background-color: #f1f1f1;
}

.title-container {
  width: 77.8%;
}

.admin-style {
  padding-top: 100px;
}

.user-style {
  padding-top: 300px;
}

@media only screen and (max-width: 576px) {
  .container h3 {
    font-size: 18px;
  }
  .user-style {
    padding-top: 120px;
  }
}
@media only screen and (max-width: 454px) {
  .container h3 {
    font-size: 16px;
  }

  .price-container p {
    font-size: 14px;
  }

  .content-container img {
    height: 170px;
  }

  .user-style {
    padding-top: 120px;
  }
}

@media only screen and (max-width: 320px) {
  .container h3 {
    font-size: 14px;
  }
  .price-container p {
    font-size: 12px;
  }
  .price-container small {
    font-size: 12px;
  }
  .user-style {
    padding-top: 120px;
  }
}
