.card-container {
  width: 250px;
  background-color: #ffffff;
  padding: 40px 20px;
  flex-basis: 80%;
  box-shadow: 5px 6px 17px -4px rgba(0, 0, 0, 0.1);
}

.card-container h2 {
  font-size: 24px;
}

.card-container small {
  font-size: 16px;
  color: #878787;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-content img {
  width: 54px;
  height: auto;
}
