.payment-container {
  background-color: #f1f1f1;
  padding-top: 150px;
  padding-bottom: 190px;
  position: relative;
}

.btn-payment {
  position: absolute;
  left: 1485px;
}

.payment-img .payment-image img {
  position: absolute;
  left: -170px;
}

.form-control:focus {
  box-shadow: none;
}

.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
